.tab-container {
  color: #e2e2e2;
  display: grid;
  grid-template-columns: 1fr 2em;
  cursor: default;
  user-select: none;
}

.tab-stream {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.tab {
  border: none;
  background-color: rgba(255, 255, 255, 0.0);
  box-shadow: inset 0px -28px 20px -20px rgba(0, 0, 0, 0.4);
}

.tab.selected {
  border: none;
  background: none;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.tab p {
  margin: 0;
  padding: 0 2em 0 1em;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.tab.new-tab {
  width: 1em;
  padding: 0 .5em;
  border: none;
  filter: none;
}

.tab.new-tab p {
  padding: 0;
}

.tab .close-button {
  float: right;
  position: relative;
  width: 10px;
  height: 10px;
  top: -19px;
  right: 12px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

.tab .close-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
